@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
header{
  width: 100%;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;       
  gap: 1rem;
}

i{
  color: $MediumColor-dark;
}

.header-icons{
  padding-inline-start: 1.875rem;
  display: flex;
  gap: 0.875rem;
}

.header-icons a:hover{
  i{
    animation: translateY 0.8s infinite alternate;
    color: $MediumColor-normal;
  }
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}

.header-button{
  font-family: 'Inter', sans-serif;
  border: 1px solid $DarkColor-normal;
  padding: 8px 24px;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-contact{
  font-family: "Inter", sans-serif;
}

.header-button:hover{
  background-color: $DarkColor-normal;
  border: 1px solid $DarkColor-normal;
  color: $LightColor-normal;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  .header-logo {
    margin-top: 1rem;
  }

  .header-icons {
    padding-left: 0;
    margin: 0.5rem 0;
    gap: 1rem;
    i {
      font-size: 1.5rem; 
    }
  }

  .header-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .header-logo {
    width: 10rem;      
    margin-top: 3rem; 
  }

  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i{
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }

  .header-button {
    display: none;
  }

  .header-icons {
    margin-bottom: 0.625rem;
  }
}