@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import "colors";

.container {
  max-width: 90rem;      
  margin: 0 auto;
  padding: 0 1rem;       
  width: 100%;
}


.bg-home{
  position: relative;
}

.bg-home::before{
  content: '';
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $LightColor-normal), url('../img/bg-home.jpg');
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero{
  color: $LightColor-normal;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.875rem;     

  h1{
    color: $DarkColor-normal;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    line-height: 150%;
    max-width: 100%;
    width: 100%;
    font-size: 1.5rem;
  }

  p{
    font-size: 0.75rem;
    text-align: center;
    margin: 14px 0;
    color: $DarkColor-normal;
  }
}

.button-contact{
  padding: 14px 28px;
  color: $LightColor-normal;
  background-color: $DarkColor-normal;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  border-radius: 4px;
}

.button-contact:hover{
  animation: scaleButton 0.8s alternate infinite;
  background-color: $DarkColor-light;
  color: $LightColor-normal;
}

@keyframes scaleButton{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.07);
  }
}

@media screen and (max-width: 768px){
  .hero{
    min-height: 60vh;
    h1{
      font-size: 30pt;
      padding: 0 14px;
      width: 100%;
    }

    p{
      font-size: 14pt;
    }
  }
}

@media screen and (max-width: 480px){
  .hero h1{
    font-size: 24pt;
  }

  .hero p{
    font-size: 12pt;
  }
}

// cores e variáveis
$DarkColor-normal: #0F2F42;

.about {
  background-color: #E8F1F3;
  overflow: hidden;
  color: $DarkColor-normal;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;              
  padding: 2.125rem 0.875rem 4rem 0.875rem;

   .image-collage {
    flex: 0 0 25rem;          // 400px → 25rem
    max-width: 100%; 
    width: 400px;
    height: auto;
    overflow: visible;
    position: relative;

    img {
      display: block;
      width: 100%;    
      height: auto;   
    }
  }


   .about-description {
    flex: 1;

    h2 {
      font-size: 38pt;
      margin-bottom: 24px;
    }

    p {
      font-size: 14pt;
      line-height: 150%;
      margin-bottom: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    gap: 1.5rem;

    .about-description {
      h2 {
        font-size: 1.75rem;
      }
    }
  }
}


.services{
  background-color: $DarkColor-dark;
  color: $LightColor-normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75rem;     
  margin-bottom: 0.875rem;
}

.services-content p{
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  font-family: "Inter", sans-serif;
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
  transition: 0.2s ease;
}

.card-list .card-item:active {
  cursor: grabbing
}

.card-list .card-item:hover {
  border-color: #5372F0;
}

.card-list .swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
  transform: scale(0.85);
}

.card-list .swiper-slide-active {
  transform: scale(1); 
  opacity: 1;
}

.card-list .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .badge {
  color: #5372f0;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #DDE4FF;
  width: fit-content;
  border-radius: 50px;
}

.card-list .badge.instalacao {
  color: $DarkColor-normal;
  background: $LightColor-light;
}

.card-list .badge.limpeza {
  color: $DarkColor-normal;
  background: $LightColor-light;
}

.card-list .badge.manutencao {
  color: $DarkColor-normal;
  background: $LightColor-light;
}

.card-list .badge.reparo {
  color: $DarkColor-normal;
  background:$LightColor-light;
}

.card-list .badge.carga {
  color: $DarkColor-normal;
  background: $LightColor-light;
}

.card-list .card-title {
  font-size: 1.19rem;
  color: $DarkColor-light;
  font-weight: 600;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swipper-slide-button {
  color: #5372F0;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swipper-slide-button {
    display: none;
  }
}

#form-contato {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 8px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Labels */
#form-contato label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

/* Inputs e selects */
#form-contato input,
#form-contato select {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

#form-contato input:focus,
#form-contato select:focus {
  border-color: #007BFF;
  outline: none;
}

/* Botão "enviar"*/
.button-enviar {
  display: block;
  width: 100%;
  margin: 0 auto 10px auto;
  background-color: #007BFF;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-contact:hover {
  background-color: #0056b3;
}

/* Responsivo */
@media (max-width: 600px) {
  #form-contato {
    padding: 20px;
  }

  .button-enviar {
    width: 100%;
  }
}

.footer {
  background: #000D13;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.footer-icons {
  margin-bottom: 10px;
}

.footer-icons a {
  color: #fff;
  margin: 0 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icons a:hover {
  i{
    animation: translateY 0.8s infinite alternate;
    color: $MediumColor-normal;
  }
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}

/* Logo centralizado e com tamanho adequado */
.footer img {
  width: 120px;
  height: auto;
  margin-bottom: 15px;
}

/* Texto final com tipografia simples e espaçamento apropriado */
.footer p {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}


/* Responsividade */
@media (min-width: 600px) {
  .footer p {
    flex: none;
    margin-top: 0;
    text-align: right;
  }
}
