$LightColor-normal: #E8F1F3;
$LightColor-light: #C4ECF6;
$LightColor-dark: #60C0FC;

$MediumColor-normal: #5591B3;
$MediumColor-light: #9CCAE1;
$MediumColor-dark: #3C667E;

$DarkColor-normal: #00314F;
$DarkColor-light: #002132;
$DarkColor-dark: #000D13;