$primary-normal: #E8F1F3;
$primary-light: #66b3ff;
$primary-dark: #0056b3;

$secondary-normal: #6c757d;
$secondary-light: #a6a8ab;
$secondary-dark: #545b62;

$black-normal: #000000;
$black-light: #333333;
$black-dark: #000000;

$white-normal: #ffffff;
$white-light: #f8f9fa;
$white-dark: #e2e6ea;