@import"colors.scss";
body {
  background-color: $LightColor-normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  color: #0D47A1; 
  font-size: 25pt; 
  text-align: center; 
  font-family: 'Titillium Web', sans-serif;
  margin-top: 20px;
}

h3{
  color: #2c3e50; 
  font-size: 15pt; 
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

button{
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer;
}

svg{
  width: 100%;
}

img{
  width: 100%;
}

a{
  cursor: pointer;
  text-decoration: none;
}

.header-logo {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  }
  
  .logo {
  max-width: 150px;
  height: auto;
  display: block;
  }

.snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  top: 0;
  font-size: 20px;
  color: #2b2dce;
  opacity: 0.8;
  animation: fallAndDrift 5s linear infinite;
}

.snowflake:nth-child(1) { left: 30%; animation-delay: 0s; }
.snowflake:nth-child(2) { left: 50%; animation-delay: 1s; }
.snowflake:nth-child(3) { left: 70%; animation-delay: 2s; }
.snowflake:nth-child(4) { left: 20%; animation-delay: 1.5s; }
.snowflake:nth-child(5) { left: 80%; animation-delay: 2.5s; }

@keyframes fallAndDrift {
  0% {
    transform: translateX(0) translateY(-50px);
    opacity: 1;
  }
  50% {
    transform: translateX(20px) translateY(125px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0) translateY(300px);
    opacity: 0;
  }
}

ul.beneficios{
  padding-left: 20px;
  font-size: 14pt;
  line-height: 1.5;
  font-family: Calibri;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #2c3e50;
}

ul.servicos {
  list-style-type: square;
  padding-left: 20px;
  color: #2c3e50;
  font-size: 14pt;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
}

label {
  font-weight: bold;
}

input, select, button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}