@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
header {
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

i {
  color: #3C667E;
}

.header-icons {
  padding-inline-start: 1.875rem;
  display: flex;
  gap: 0.875rem;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #5591B3;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  font-family: "Inter", sans-serif;
  border: 1px solid #00314F;
  padding: 8px 24px;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-contact {
  font-family: "Inter", sans-serif;
}

.header-button:hover {
  background-color: #00314F;
  border: 1px solid #00314F;
  color: #E8F1F3;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
  .header-logo {
    margin-top: 1rem;
  }
  .header-icons {
    padding-left: 0;
    margin: 0.5rem 0;
    gap: 1rem;
  }
  .header-icons i {
    font-size: 1.5rem;
  }
  .header-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .header-logo {
    width: 10rem;
    margin-top: 3rem;
  }
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .header-button {
    display: none;
  }
  .header-icons {
    margin-bottom: 0.625rem;
  }
}
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #E8F1F3), url("../img/bg-home.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: #E8F1F3;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.875rem;
}
.hero h1 {
  color: #00314F;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  line-height: 150%;
  max-width: 100%;
  width: 100%;
  font-size: 1.5rem;
}
.hero p {
  font-size: 0.75rem;
  text-align: center;
  margin: 14px 0;
  color: #00314F;
}

.button-contact {
  padding: 14px 28px;
  color: #E8F1F3;
  background-color: #00314F;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  border-radius: 4px;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
  background-color: #002132;
  color: #E8F1F3;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 30pt;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14pt;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24pt;
  }
  .hero p {
    font-size: 12pt;
  }
}
.about {
  background-color: #E8F1F3;
  overflow: hidden;
  color: #0F2F42;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;
  padding: 2.125rem 0.875rem 4rem 0.875rem;
}
.about-content .image-collage {
  flex: 0 0 25rem;
  max-width: 100%;
  width: 400px;
  height: auto;
  overflow: visible;
  position: relative;
}
.about-content .image-collage img {
  display: block;
  width: 100%;
  height: auto;
}
.about-content .about-description {
  flex: 1;
}
.about-content .about-description h2 {
  font-size: 38pt;
  margin-bottom: 24px;
}
.about-content .about-description p {
  font-size: 14pt;
  line-height: 150%;
  margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    gap: 1.5rem;
  }
  .about-content .image-collage {
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
  }
  .about-content .about-description h2 {
    font-size: 1.75rem;
  }
}
.services {
  background-color: #000D13;
  color: #E8F1F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 0.875rem;
}

.services-content p {
  line-height: 150%;
  text-align: center;
  max-width: 48.75rem;
  margin-bottom: 0.875rem;
}

.card-wrapper {
  overflow: visible;
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 1.25rem 0.625rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list .card-item {
  font-family: "Inter", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
  transition: 0.2s ease;
}

.card-list .card-item:active {
  cursor: grabbing;
}

.card-list .card-item:hover {
  border-color: #5372F0;
}

.card-list .swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
  transform: scale(0.85);
  transform-origin: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card-list .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}

.card-list .card-image {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.card-list .badge {
  color: #5372f0;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #DDE4FF;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
}

.card-list .badge.instalacao {
  color: #0F2F42;
  background: #C4ECF6;
}

.card-list .badge.limpeza {
  color: #0F2F42;
  background: #C4ECF6;
}

.card-list .badge.manutencao {
  color: #0F2F42;
  background: #C4ECF6;
}

.card-list .badge.reparo {
  color: #0F2F42;
  background: #C4ECF6;
}

.card-list .badge.carga {
  color: #0F2F42;
  background: #C4ECF6;
}

.card-list .card-title {
  font-size: 1.19rem;
  color: #002132;
  font-weight: 600;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swipper-slide-button {
  color: #5372F0;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 0.625rem 1.5625rem;
  }
  .card-wrapper .swipper-slide-button {
    display: none;
  }
}
#form-contato {
  background-color: #ffffff;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.875rem 2.5rem;
  max-width: 31.25rem;
}

#form-contato label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

#form-contato input,
#form-contato select {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

#form-contato input:focus,
#form-contato select:focus {
  border-color: #007BFF;
  outline: none;
}

.button-enviar {
  display: block;
  width: 100%;
  margin: 0 auto 10px auto;
  background-color: #007BFF;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-contact:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  #form-contato {
    padding: 1.25rem;
  }
  .button-enviar {
    width: 100%;
  }
}
.footer {
  background: #000D13;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.5rem 1.25rem;
  gap: 1.25rem;
}

.footer-icons {
  margin-bottom: 10px;
}

.footer-icons a {
  color: #fff;
  margin: 0 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #5591B3;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.footer img {
  height: auto;
  margin-bottom: 15px;
  width: 7.5rem;
}

.footer p {
  font-family: "Inter", sans-serif;
  margin: 0;
  line-height: 1.5;
  font-size: 0.875rem;
}

@media (min-width: 600px) {
  .footer p {
    text-align: right;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #E8F1F3;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #0D47A1;
  font-size: 2rem;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  margin-top: 20px;
}

h3 {
  color: #2c3e50;
  font-size: 1rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
}

button {
  font-family: "Titillium Web", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.header-logo {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
  display: block;
}

ul.beneficios {
  padding-left: 20px;
  font-size: 14pt;
  line-height: 1.5;
  font-family: Calibri;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #2c3e50;
}

ul.servicos {
  list-style-type: square;
  padding-left: 20px;
  color: #2c3e50;
  font-size: 14pt;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
}

label {
  font-weight: bold;
}

input, select, button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20pt;
    margin-top: 15px;
  }
  h3 {
    font-size: 13pt;
    margin-top: 8px;
  }
  .header-logo {
    margin-top: 15px;
  }
  .logo {
    max-width: 120px;
  }
  form {
    max-width: 90%;
    margin: 20px auto;
  }
  ul.beneficios,
  ul.servicos {
    font-size: 13pt;
    padding: 0 1rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 18pt;
  }
  h3 {
    font-size: 11pt;
  }
  .wrapper,
  form {
    padding: 0 1rem;
  }
  .slide {
    flex: 0 0 100%;
  }
  .algum-seletor-com-width-fixo {
    width: 100%;
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */